####1. Scenario: You have a list of integers, and you need to find the maximum
value in the list.
a. Question: How would you find the maximum value from the
following list?

#### Find the Maximum value in a list

In [3]:
# Code to find the maximum value in a list
numbers = [4,5,7,2,8,10]
max_value = max(numbers)
print(f"The maximum value is: {max_value}")

The maximum value is: 10

####2. Scenario: You need to concatenate a list of strings into a single string,
with each string separated by a comma.
a. Question: How would you combine the following list of strings into
a single string?

### Concatenate a list of Strings

In [5]:
#Concatenate a list of strings with a comma seperator
my_list = ["hello", "how", "are", "you"]
result = " ".join(my_list)
print(result)

hello how are you

3. Scenario: You have a dictionary where the keys are names and the
values are ages. You need to retrieve the age of a specific person.
a. Question: How would you get the age of "Dev" from the following
dictionary?

#### Retrive the age of a Specific Person

In [7]:
# Dictionary with names as keys and ages as values
ages = {"Ram": 23, "Hari": 42, "Dev": 24, "Anish": 45}
dev_age = ages.get("Dev")
print(f"Dev's age is: {dev_age}")

Dev's age is: 24

4. Scenario: You need to remove duplicate elements from a list while
preserving the original order of elements.
a. Question: How would you remove duplicates from the following
list?

#### Remove Duplicates while Preserving Order

In [9]:
# Method to remove duplicate while preserving order
def remove_duplicates(lst):
  seen = set()
  return [x for x in lst if x not in seen and not seen.add(x)]

my_list = [1, 2, 3, 2, 4, 1, 5]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5]

5. Scenario: You have a NumPy array and need to compute the sum of all
its elements.
a. Question: How would you find the sum of elements in the
following NumPy array?

#### Compute the Sum of All Elements in a NumPy Array

In [11]:
import numpy as np
array = np.array([1,2,4,5,6])
total_sum = np.sum(array)
total_sum

18

####6. Scenario: You have a 2D NumPy array and need to get the maximum
value from each column.
a. Question: How would you find the maximum values for each
column in the following array?

#### Maximum Values for Each Column in a 2D NumPy Array

In [13]:
import numpy as np
array = np.array([[1,2,3], [4,5,6],[7,8,9],[10,11,12]])
max_value = np .max(array, axis = 0)
print(f"The maximum values for each colums are: {max_value}")

The maximum values for each colums are: [10 11 12]

7. Scenario: You have a DataFrame and need to sort it by a specific column.
a. Question: How would you sort the DataFrame by the "Age"
column?

#### Sort a DataFrame by the "Age" Column

In [15]:
import pandas as pd
data = { 'Name': ['Ram','Hari','Anish', 'Anup'], 'Age': [23,34, 21, 20],
        'City': ['New York', 'Verginia', 'Maryland', 'Texas'] }
df = pd.DataFrame(data)
sorted_df = df.sort_values(by='Age')
sorted_df

    Name  Age      City
3   Anup   20     Texas
2  Anish   21  Maryland
0    Ram   23  New York
1   Hari   34  Verginia

8. Scenario: You need to calculate the total sum of a column in a
DataFrame.
a. Question: How would you find the sum of the "Sales" column?

#### Calculate the Total Sum of the "Sales" Column

In [17]:
import pandas as pd
data = { 'Product': ['A', 'B', 'C', 'D'],
        'Sales': [200, 134, 300, 400],
        'Region': ['New York', 'Verginia', 'Maryland', 'Texas'] }
df = pd.DataFrame(data)
total_sales = df['Sales'].sum()
total_sales

1034

9. Scenario: You need to check if a variable is of type int.
a. Question: How would you verify if a variable x is an integer?

#### Check if a Variable is of Type 'int'

In [19]:
# example Variable
x = 5
if type(x) is int:
  print("x is an integer")
else:
  print("x is not an integer")

x is an integer

Scenario: You have a list of mixed types and need to create separate lists
for integers, floats, and strings.
a. Question: How would you categorize the following mixed list into
different types?

#### Categorize a Mixed List into Different Types

In [21]:
# example mixed list
mixed_list = [1, 2.5, 'apple', 4, 'banana', 5.0, 'cherry', 9, 4.3]
#Initialize integers, floats, and strings
integers = []
floats = []
strings = []
for item in mixed_list:
    if isinstance(item, int):
        integers.append(item)
    elif isinstance(item, float):
        floats.append(item)
    elif isinstance(item, str):
        strings.append(item)

#categorized lists
print(f"Integers: {integers}")
print(f"floats: {floats}")
print(f"Strings: {strings}")

Integers: [1, 4, 9]
floats: [2.5, 5.0, 4.3]
Strings: ['apple', 'banana', 'cherry']

11.Scenario: You are given a string of comma-separated numbers. You
need to convert this string into a list of integers.
a. Question: How would you achieve this conversion?

#### Convert a comma_Seperated String to a list of Integers

In [23]:
comma_separated_string = "1,2,3,4,5"

# Split the string into a list of strings
string_list = comma_separated_string.split(",")

# Convert each string to an integer using map()
integer_list = list(map(int, string_list))
integer_list

[1, 2, 3, 4, 5]

12.Scenario: You need to reverse the words in a sentence while keeping the
order of the words intact.
a. Question: How would you reverse each word in the following
sentence?

#### Reverse Each Word in a Sentence

In [25]:
sentence = "Hello World"
words = sentence.split()
reversed_words = [word[::-1]for word in words]
reversed_sentence = ' '.join(reversed_words)
reversed_sentence

'olleH dlroW'

13.Scenario: You need to combine two lists into a dictionary where the
elements of the first list are keys and the elements of the second list are
values.
a. Question: How would you combine the following lists into a
dictionary?

#### Combine Two lists into a Dictionary

In [27]:
keys = ['A', 'B', 'C', 'D']
values = [1, 2, 3, 4]
combined_dict = dict(zip(keys, values))
combined_dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

14.Scenario: You are given a list of tuples where each tuple contains a name
and an age. You need to sort this list by age.
a. Question: How would you sort the following list of tuples by age?

#### Sort a list of Tuples by Age

In [29]:
people = [('Ram', 30), ('Sita', 25), ('Hari', 40), ('DInesh', 25)]
sorted_people = sorted(people, key=lambda x: x[1])
sorted_people

[('Sita', 25), ('DInesh', 25), ('Ram', 30), ('Hari', 40)]

15.Scenario: You have a 2D NumPy array and need to calculate the mean
value of each row.
a. Question: How would you compute the mean value for each row
in the following array?

#### Compute the mean Value for each Row in a 2D NumPy Array

In [31]:
import numpy as np
array = np.array([[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9],
                 [10, 11, 12]])
mean_value = np.mean(array, axis = 1)
mean_value

array([ 2.,  5.,  8., 11.])

16.Scenario: You need to create a NumPy array of size 10 filled with zeros,
and then set the fifth element to 5.
a. Question: How would you create and modify the array as
described?

#### Create a NumPy Array of size 10 Filled with Zeros and Set the Fifth Element to 5

In [33]:
import numpy as np
array = np.zeros(10)
array[4] = 5
array

array([0., 0., 0., 0., 5., 0., 0., 0., 0., 0.])

17.Scenario: You have a DataFrame and need to find the median of a
numeric column.
a. Question: How would you find the median of the "Scores" column
in the following DataFrame?

#### Find the Median of the "Scores" Column in a dataFrame

In [35]:
import pandas as pd
data = { 'Name': ['Ram', 'Hari', 'Sita', 'Navin'], 'Scores': [20, 30, 45, 57] }
df = pd.DataFrame(data)
median_score = df['Scores'].median()
median_score

37.5

18.Scenario: You need to filter rows where the value in the "Sales" column
is above 100 and then sort these rows by "Date" in descending order.
a. Question: How would you filter and sort the DataFrame based on
the given criteria?

#### Filter and Sort a Dataframe  Based on the criteria

In [37]:
import pandas as pd
data = {'date': ['2023-11-15', '2023-11-16', '2023-11-15', '2023-11-17'],
        'product': ['A', 'B', 'A', 'C'],
        'sales': [100, 150, 80, 200]}
df = pd.DataFrame(data)
result_df = df[(df['product'].isin(['A', 'B'])) &
(df['sales'] > 100)].sort_values(by='date', ascending=False)
print(result_df)

         date product  sales
1  2023-11-16       B    150

19.Scenario: You have a string containing a number and need to convert it
to an integer. Additionally, handle the case where the string might not
represent a valid integer.
a. Question: How would you safely convert the string "42" to an
integer and handle invalid cases?

#### Safely Convert a String to an Integer and Handle Invalid Cases

In [39]:
number_string = "42"
try:
    number = int(number_string)
    print(f"The integer value is: {number}")
except ValueError:
    print(f"Error: '{number_string}' is not a valid integer.")

The integer value is: 42

20.Scenario: You have a list containing different data types, and you want
to separate out all the strings.
a. Question: How would you extract all string elements from the
following list?

#### Extract All String Elements from a list

In [41]:
# Example usage:
my_list = [1, "hello", 3.14, "world", True]
string_elements = [item for item in my_list if isinstance(item, str)]
string_elements

['hello', 'world']